<footer>
  <a href="https://www.facebook.com" target="_blank"><img src="assets/images/icon-facebook.svg" alt="Icon with link to facebook" /></a>
  <a href="https://www.instagram.com" target="_blank"> 
      <img
        src="assets/images/icon-instagram.svg"
        alt="Icon witch link to instagram"
        
      />
  </a>
  <a href="https://www.pinterest.com" target="_blank">
      <img
        src="assets/images/icon-pinterest.svg"
        alt="Icon with link to pinterest"
        
      />
  </a>
</footer>
