* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  url(assets/images/pattern-hills.svg)  no-repeat bottom ,url(assets/images/bg-stars.svg);
  background-color: hsl(234, 17%, 12%);
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  max-width: 100%;
  padding: 1rem;
}
